/*******Recherche hébergements***********/

.infoGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
  padding: 0px 50px;
  box-sizing: border-box;
  gap: 35px;
}

.headline {
  display: flex;
  flex-direction: column;
  height: 53px;
  gap: 8px;
}

/*******Zone de recherche***********/
.searchBar {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: var(--filter-bg-color);
  max-width: 377px;
  width: 100%;
}

.searchBar .cta {
  background-color: var(--main-color);
  border: none;
  width: 8.25rem;
  height: 49px;
  border-radius: 0px 15px 15px 0px;
  color: #ffffff;
  font-size: 18px;
}

.searchBar input {
  border: none;
  width: 9.2rem;
  height: 1.313rem;
  font-size: 18px;
  font-weight: var(--title-font-weight);
}

.searchBar input::placeholder {
  font-weight: var(--title-font-weight);
  color: #000000;
}

.searchBar img {
  width: 3.125rem;
  height: 3.063rem;
}
/*******Zone de filtres***********/
.filterBar {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 50px;
  max-width: 758px;
  width: 100%;
}

.filterBar a {
  font-size: var(--filter-font-size);
  font-weight: var(--filter-font-weight);
}

.filterBar .iconFilter:hover {
  background-color: var(--filter-bg-color);
  border-top: none;
  color: #000000;
}

.groupes-icon {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.iconFilter {
  display: flex;
  align-items: center;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  height: 50px;
  gap: 10px;
  padding: 4px 19px;
  box-sizing: border-box;
  white-space: nowrap;
}

.iconFilter img {
  width: 22px;
  height: 22px;
}
.infoBar {
  display: flex;
  align-items: center;
  gap: 10px;
}
