@import "/style/header.css";
@import "/style/infoGroup.css";
@import "/style/hebergementsPopulaires.css";
@import "/style/activites.css";
@import "/style/main.css";

/****** General ***********/
:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;

  /****** Text configuration ***********/
  --title-font-size: 1.375rem;
  --filterBar-font-size: 1.125rem;
  --infoBar-font-size: 1rem;
  --activites-font-size: 1rem;

  --title-font-weight: 700;
  --infoBar-font-weight: 400;
  --activites-font-weight: 700;

  --title-line-height: 1.614rem;
  --filterBar-line-height: 1.321rem;
  --infoBar-line-height: 1.174rem;
}

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

.fa-solid {
  color: var(--main-color);
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
h2 {
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
  line-height: var(--title-line-height);
}

h3 {
  font-size: var(--filterBar-font-size);
  font-weight: var(--title-font-weight);
  line-height: var(--filterBar-line-height);
}

p {
  font-size: var(--infoBar-font-size);
  font-weight: var(--infoBar-font-weight);
  line-height: var(--infoBar-line-height);
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
